/*******************************************************************************
Custom Codenames CSS
*******************************************************************************/

.box {
    // background-color: lightgrey;
    background-image: url("../agents/blank.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: #242424;
    border-radius: 5px;
    padding-top: 40%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 16%;
    width: 100%;
    height: 100%;
  }
  
  .wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(5, 18.4%);
    grid-template-rows: repeat(5, 18.4%);
    grid-auto-flow: column;
    // padding-top: 65%;
  }

// * {
//     box-sizing: border-box;
//   }
  
//   .row {
//     display: -ms-flexbox; /* IE10 */
//     display: flex;
//     -ms-flex-wrap: wrap; /* IE10 */
//     flex-wrap: wrap;
//     padding: 0 4px;
//   }
  
//   /* Create five equal columns that sit next to each other */
//   .column {
//     -ms-flex: 20%; /* IE10 */
//     flex: 20%;
//     max-width: 20%;
//     padding: 0 4px;
//   }
  
//   .column img {
//     margin-top: 0px;
//     vertical-align: middle;
//     border-radius: 5px;
//     width: 100%;
//   }

//   .container {
//     background-color: red;
//     position: relative;
//     width: 100%;
//     padding-top: 65%; /* 1:1 Aspect Ratio */
//  }



// .card {
//     width: 100%;
//     height: 15%;
//     background-image: url("../agents/blank.png");
//     background-size: 100%;
//     background-repeat: no-repeat;
// }


.join {
    color: #2da800;
    // font-family: 'Press Start 2P', sans-serif;
    font-family: 'Courier New', Courier, monospace;
}

/*******************************************************************************
Spymaster switch
*******************************************************************************/


  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/*******************************************************************************
New Game Button
*******************************************************************************/

  .buttonNG {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .buttonNG span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonNG span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonNG:hover span {
    padding-right: 25px;
  }
  
  .buttonNG:hover span:after {
    opacity: 1;
    right: 0;
  }